extends layout
block link
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='/stylesheets/alenrep.css')
block content
 .posts.text-start       
  if nothing 
   h3 No data found
  else                         
   .header
    if annexes 
     .card.header_card.m-2 
       .card-body 
        h5 Annexure of 
          a.fmini-wrap(href=`/fmini/${annexes[0].fminiRefId}` id=`${annexes[0].fminiRefId}` ) Fantom   
    else if replies 
     .card.header_card.m-2 
       .card-body 
        h5 Replies of  
         if replyId 
          a.fmini-wrap(href=`/fmini/${replyId}` id=`${replyId}` )  Fantom 
         else 
           a.fmini-wrap(href=`/fmini/${replies[0].fminiRefId}` id=`${replies[0].fminiRefId}` ) Fantom 
    else if alters 
     .card.header_card.m-2 
       .card-body 
        h5 Alters of 
         a.fmini-wrap(href=`/fmini/${alters[0].fminiRefId}` id=`${alters[0].fminiRefId}` ) Fantom  
   if annexes     
    ul.list-group.list-group-flush.dreams-post
     for annex in annexes
       li.list-group-item.my-2 
        .annex-wrap
           .annex-hdr.d-flex 
             .annex-hdr-img
               -if(annex.prflimg)
                 img.avator(src=`https://drive.google.com/uc?export=view&id=${annex.prflimg}` alt='')
               -else 
                 img(style='background: #c631c6; min-width : 50px;min-height:50px ')
             .annex-hdr-info.vstack 
                .annex-hdr-info-up.d-flex
                  a(href=`/user/${annex.userId}`).annex-hdr-usrname  #{annex.name} 
                  .annex-hdr-timeStamp.ms-1 #{moment(annex.timeStamp).startOf('hour').fromNow()} 
                .annex-hdr-usrid @#{annex.userId}
           a.annex-body(href=`/annex/${annex._id}` id=annex._id)
             .mt-2  #{annex.annex}
           if annex.media  
             if annex.media.includes('https://media.tenor.com')  
               img(src=`${annex.media}`)
           else
             img.annex-media.my-1(src=`https://drive.google.com/uc?export=view&id=${annex.media}`, alt="", srcset="" data-bs-toggle='modal' data-bs-target='#reply-media-modal')                             
           #annex-media-modal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog.modal-fullscreen
                  .modal-content
                    .modal-header
                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body.text-center.vstack
                      img.modal-img(src='https://w0.peakpx.com/wallpaper/970/985/HD-wallpaper-stormy-attack-waves-sky-dragon-storm-wall-stormy-sea-fire-fantasy-ship-mountains-digital-attack-night.jpg' alt='').mx-auto
                      .modal-dream-info-counts           
           .annex-footer.d-flex.justify-content-between.mt-2
             .annex-footer-comment 
               button.btn(type='button' tabindex='0' data-bs-toggle="modal"  data-bs-target=`#reply_modal_${annex._id}`)
                 .material-symbols-rounded  
                   | reply
               a(href=`/${annex.fminiRefId}/${annex._id}/nestedReplies`) #{annex.replies.length}
                 span.lapdisp(style='font-size:15px') replies
             .likes
               .material-symbols-rounded
                          | favorite    
               a.mx-1
                       span #{annex.likes.length}                                             
                       span.lapdisp Likes                 
           .modal.fade(id=`reply_modal_${annex._id}` data-bs-backdrop="static" tabindex='-1' aria-labelledby='fantamodalLabel1' aria-hidden='true')
                 .modal-dialog.modal-fullscreen-sm-down
                   .modal-content
                     .modal-header
                          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') 
                     .modal-body
                       .fanta-options.float-end 
                         label(for=`reply_fileinp_${annex._id}`).mx-1 
                            span(class="material-symbols-rounded")
                              | add_photo_alternate
                            input(id=`reply_fileinp_${annex._id}` name="fantaimage", type="file", onchange=`readURL(this,'reply_fileinp_${annex._id}')`).d-none    
                         a.mx-1(href=''  data-bs-toggle='collapse' data-bs-target=`#reply_gif_${annex._id}` aria-expanded='false')
                             span(class="material-symbols-rounded")
                                    |gif_box                                                                                                                                                                          
                             button.btn.ibtn(type='button' style='display:none' id=`reply_load_gif_${annex._id}`) Load more                                                          
                       img.reply_img(src="", alt="", srcset="" id=`reply_media_preview_${annex._id}`)
                       textarea.form-control(name="", cols="30" id=`reply_${annex._id}`) 
                       .collapse(id=`reply_gif_${annex._id}`)
                           .card.card-body
                             input.form-control(id=`reply_gif_search_${annex._id}` type="search", name=`reply_gif_search_${annex._id}`, placeholder='Search Tenor', onkeyup='suggest(this)')
                             div(id=`reply_tenor_suggestion_${annex._id}`)
                               .no-scrollbar(style='max-width : 100%;overflow-x: scroll;padding:20px')
                                 div.reply_radios(style='width :2000px')
                                  .radios.radio_tile_group(name = `reply_radio_tile_${annex._id}`) 
                             .no-scrollbar(id=`reply_gif_preview_container_${annex._id}`)
                             .btn.ibtn(type='button' id = `reply_gif_load_${annex._id}` fminiId = `${annex._id}` onclick= `loadGif('reply','${annex._id}')`) Load more gifs
                       button.btn.ibtn.mt-2(type = 'button' onclick=`postCommonReply('${annex._id}', '${annex.fminiRefId}')`) Reply
                       #reply_spinner.spinner-border.ms-2(role='status' style='display : none')
                         span.visually-hidden Loading...                                                                                  
   else if replies
    ul.list-group.list-group-flush.dreams-post
     for reply in replies
       li.list-group-item.my-2 
        .reply-wrap
           .reply-hdr.d-flex 
             .reply-hdr-img
               if reply.prflimg
                 img.avator(src=`https://drive.google.com/uc?export=view&id=${reply.prflimg}`)
               else 
                 div(style='width : 48px; height : 48px; background : purple')
             .reply-hdr-info.vstack 
                .reply-hdr-info-up.d-flex
                  a(href=`/user/${reply.userId}`).reply-hdr-usrname  #{reply.name} 
                  .reply-hdr-timeStamp.ms-1 #{moment(reply.timeStamp).startOf('hour').fromNow()} 
                .reply-hdr-usrid @#{reply.userId}
           a.reply-body(href=`/reply/${reply._id}` id=reply._id)
            if reply.body
             .mt-2  #{reply.body}
            else if reply.reply
              .mt-2 #{reply.reply}
           if reply.media
            if reply.media.includes('https://media.tenor.com')  
              img(src=`${reply.media}`)
            else
              img.reply-media.my-1(src=`https://drive.google.com/uc?export=view&id=${reply.media}`, alt="", srcset="" data-bs-toggle='modal' data-bs-target='#reply-media-modal')                             
           #reply-media-modal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog.modal-fullscreen
                  .modal-content
                    .modal-header
                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body.text-center.vstack
                      img.modal-img(src=`https://drive.google.com/uc?export=view&id=${reply.media}` alt='').mx-auto
                      .modal-dream-info-counts           
           .reply-footer.d-flex.justify-content-between.mt-2
             .reply-footer-comment 
               button.btn(type='button' tabindex='0' data-bs-toggle="modal"  data-bs-target=`#reply_modal_${reply._id}`)
                 .material-symbols-rounded  
                   | reply
               a(href=`/${reply.fminiRefId}/${reply._id}/nestedReplies`) #{reply.replies.length}
                 span.lapdisp(style='font-size:15px') replies
             .likes(onclick=`like('${reply.fminiRefId}', '${reply._id}')`)
                     .icon_btn
                       .material-symbols-rounded(id=`like_btn_${reply._id}`) 
                          | favorite
                       span.totals.total_likes(id=`likes_total_${reply._id}`)  #{reply.likes.length} 
           .modal.fade(id=`reply_modal_${reply._id}` data-bs-backdrop="static" tabindex='-1' aria-labelledby='fantamodalLabel1' aria-hidden='true')
                 .modal-dialog.modal-fullscreen-sm-down
                   .modal-content
                     .modal-header
                          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') 
                     .modal-body
                       .fanta-options.float-end 
                         label(for=`reply_fileinp_${reply._id}`).mx-1 
                            span(class="material-symbols-rounded")
                              | add_photo_alternate
                            input(id=`reply_fileinp_${reply._id}` name="fantaimage", type="file", onchange=`readURL(this,'reply_fileinp_${reply._id}')`).d-none    
                         a.mx-1(href=''  data-bs-toggle='collapse' data-bs-target=`#reply_gif_${reply._id}` aria-expanded='false')
                             span(class="material-symbols-rounded")
                                    |gif_box                                                                                                                                                                          
                             button.btn.ibtn(type='button' style='display:none' id=`reply_load_gif_${reply._id}`) Load more                                                          
                       img.reply_img(src="", alt="", srcset="" id=`reply_media_preview_${reply._id}`)
                       textarea.form-control(name="", cols="30" id=`reply_${reply._id}`) 
                       .collapse(id=`reply_gif_${reply._id}`)
                           .card.card-body
                             input.form-control(id=`reply_gif_search_${reply._id}` type="search", name=`reply_gif_search_${reply._id}`, placeholder='Search Tenor', onkeyup='suggest(this)')
                             div(id=`reply_tenor_suggestion_${reply._id}`)
                               .no-scrollbar(style='max-width : 100%;overflow-x: scroll;padding:20px')
                                 div.reply_radios(style='width :2000px')
                                  .radios.radio_tile_group(name = `reply_radio_tile_${reply._id}`) 
                             .no-scrollbar(id=`reply_gif_preview_container_${reply._id}`)
                             .btn.ibtn(type='button' id = `reply_gif_load_${reply._id}` fminiId = `${reply._id}` onclick= `loadGif('reply','${reply._id}')`) Load more gifs
                       button.btn.ibtn.mt-2(type = 'button' onclick=`postCommonReply('${reply._id}', '${reply.fminiRefId}')`) Reply
                       #reply_spinner.spinner-border.ms-2(role='status' style='display : none')
                         span.visually-hidden Loading...                                                                                                                
   else if alters
    ul.list-group.list-group-flush.dreams-post
     for alter in alters
       li.list-group-item.my-2 
        .alter-wrap
           .alter-hdr.d-flex 
             .alter-hdr-img
               if alter.prflimg
                 img.avator(src=`https://drive.google.com/uc?export=view&id=${alter.prflimg}`)
               else 
                 div(style='width : 48px; height : 48px; background : purple')
             .alter-hdr-info.vstack 
                .alter-hdr-info-up.d-flex
                  a(href=`/user/${alter.userId}`).alter-hdr-usrname  #{alter.name} 
                  .alter-hdr-timeStamp.ms-1 #{moment(alter.timeStamp).startOf('hour').fromNow()} 
                  .alter-hdr-options.flex-grow-1 
                    a(tabindex='0' data-bs-toggle="popover" data-bs-html='true' data-bs-trigger="focus"  data-bs-content='<div class="list-group list-group-flush"><a href="#" class="list-group-item list-group-item-action " aria-current="true"> The current link item</a><a href="#" class="list-group-item list-group-item-action">A second link item</a><a href="#" class="list-group-item list-group-item-action">A third link item</a><a href="#" class="list-group-item list-group-item-action">A fourth link item</a><a class="list-group-item list-group-item-action ">A disabled link item</a></div> ').options.float-end 
                     i.fa-solid.fa-ellipsis.fa-vertical 
                .alter-hdr-usrid @#{alter.userId}
           a.alter-body(href=`/alter/${alter._id}` id=alter._id)
             .mt-2  #{alter.alter}
           if alter.media
            if alter.media.includes('https://media.tenor.com')  
             img(src=`${alter.media}`)
           else
             img.alter-media.my-1(src=`https://drive.google.com/uc?export=view&id=${alter.media}`, alt="", srcset="" data-bs-toggle='modal' data-bs-target='#reply-media-modal')                             
           #alter-media-modal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog.modal-fullscreen
                  .modal-content
                    .modal-header
                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body.text-center.vstack
                      img.modal-img(src='https://w0.peakpx.com/wallpaper/970/985/HD-wallpaper-stormy-attack-waves-sky-dragon-storm-wall-stormy-sea-fire-fantasy-ship-mountains-digital-attack-night.jpg' alt='').mx-auto
                      .modal-dream-info-counts           
           .alter-footer.d-flex.justify-content-between.mt-2
             .alter-footer-comment 
               button.btn(type='button' tabindex='0' data-bs-toggle="modal"  data-bs-target=`#reply_modal_${alter._id}`)
                 .material-symbols-rounded  
                   | reply
               a(href=`/${alter.fminiRefId}/${alter._id}/nestedReplies`) #{alter.replies.length}
                 span.lapdisp(style='font-size:15px') replies    
             .likes(onclick=`like('${alter.fminiRefId}', '${alter._id}')`)
                     .icon_btn
                       .material-symbols-rounded(id=`like_btn_${alter._id}`) 
                          | favorite
                       span.totals.total_likes(id=`likes_total_${alter._id}`)  #{alter.likes.length}                       
           .modal.fade(id=`reply_modal_${alter._id}` data-bs-backdrop="static" tabindex='-1' aria-labelledby='fantamodalLabel1' aria-hidden='true')
                 .modal-dialog.modal-fullscreen-sm-down
                   .modal-content
                     .modal-header
                          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') 
                     .modal-body
                       .fanta-options.float-end 
                         label(for=`reply_fileinp_${alter._id}`).mx-1 
                            span(class="material-symbols-rounded")
                              | add_photo_alternate
                            input(id=`reply_fileinp_${alter._id}` name="fantaimage", type="file", onchange=`readURL(this,'reply_fileinp_${alter._id}')`).d-none    
                         a.mx-1(href=''  data-bs-toggle='collapse' data-bs-target=`#reply_gif_${alter._id}` aria-expanded='false')
                             span(class="material-symbols-rounded")
                                    |gif_box                                                                                                                                                                          
                             button.btn.ibtn(type='button' style='display:none' id=`reply_load_gif_${alter._id}`) Load more                                                          
                       img.reply_img(src="", alt="", srcset="" id=`reply_media_preview_${alter._id}`)
                       textarea.form-control(name="", cols="30" id=`reply_${alter._id}`) 
                       .collapse(id=`reply_gif_${alter._id}`)
                           .card.card-body
                             input.form-control(id=`reply_gif_search_${alter._id}` type="search", name=`reply_gif_search_${alter._id}`, placeholder='Search Tenor', onkeyup='suggest(this)')
                             div(id=`reply_tenor_suggestion_${alter._id}`)
                               .no-scrollbar(style='max-width : 100%;overflow-x: scroll;padding:20px')
                                 div.reply_radios(style='width :2000px')
                                  .radios.radio_tile_group(name = `reply_radio_tile_${alter._id}`) 
                             .no-scrollbar(id=`reply_gif_preview_container_${alter._id}`)
                             .btn.ibtn(type='button' id = `reply_gif_load_${alter._id}` fminiId = `${alter._id}` onclick= `loadGif('reply','${alter._id}')`) Load more gifs
                       button.btn.ibtn.mt-2(type = 'button' onclick=`postCommonReply('${alter._id}', '${alter.fminiRefId}')`) Reply
                       #reply_spinner.spinner-border.ms-2(role='status' style='display : none')
                         span.visually-hidden Loading...   
block script 
     script(src="/javascripts/fmini.js" defer)  
     script(src="/javascripts/home.js")  