extends layout
block link
    link(rel='stylesheet', href='/stylesheets/home.css')
block content
 .posts.text-start                                
   .header
     span Home
     i.btn.fa-solid.fa-timeline.float-end(data-bs-toggle='modal' data-bs-target='#home-feed')    
     .homePage-options.d-flex.justify-content-between
      a(href='') Latest
      a(href='') In Connect
   #home-feed.modal.fade(tabindex='-1' aria-labelledby='home-feed' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
                h6 Show me
                button.float-end.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body 
             p Your home feed now shows #{feedStatus}
             .feed-options.vstack.text-center
               a.btn(href = '/fminiFeed' type='button') fmini
               a.btn(href = '/fantoms' type='button') fantom   
   ul.list-group.list-group-flush.dreams-post
    -if(fminis) 
     for fmini in fminis
       li.list-group-item 
        .fmini-wrap
           .fmini-hdr.d-flex 
             .fmini-hdr-img
               img.avator(src='https://pbs.twimg.com/profile_images/1543523698862239744/FeJy-3sl_400x400.jpg' alt='')
             .fmini-hdr-info.vstack 
                .fmini-hdr-info-up.d-flex
                  a(href=`/user/${fmini.userId}`).fmini-hdr-usrname  #{fmini.userName} 
                  .fmini-hdr-timeStamp.ms-1 #{moment(fmini.timeStamp).startOf('hour').fromNow()} 
                  .fmini-hdr-options.flex-grow-1 
                    a(tabindex='0' data-bs-toggle="popover" data-bs-html='true' data-bs-trigger="focus"  data-bs-content='<div class="list-group list-group-flush"><a href="#" class="list-group-item list-group-item-action " aria-current="true"> The current link item</a><a href="#" class="list-group-item list-group-item-action">A second link item</a><a href="#" class="list-group-item list-group-item-action">A third link item</a><a href="#" class="list-group-item list-group-item-action">A fourth link item</a><a class="list-group-item list-group-item-action ">A disabled link item</a></div> ').options.float-end 
                     .material-symbols-outlined
                       | more_vert  
                .fmini-hdr-usrid @#{fmini.userId}
           a(href=`/fmini/${fmini._id}`)
             .fmini-body.mt-2  #{fmini.body}
           img.fmini-media.my-1(src="https://w0.peakpx.com/wallpaper/970/985/HD-wallpaper-stormy-attack-waves-sky-dragon-storm-wall-stormy-sea-fire-fantasy-ship-mountains-digital-attack-night.jpg", alt="", srcset="" data-bs-toggle='modal' data-bs-target='#fmini-media-modal')                
           #fmini-media-modal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog.modal-fullscreen
                  .modal-content
                    .modal-header
                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body.text-center.vstack
                      img.modal-img(src='https://w0.peakpx.com/wallpaper/970/985/HD-wallpaper-stormy-attack-waves-sky-dragon-storm-wall-stormy-sea-fire-fantasy-ship-mountains-digital-attack-night.jpg' alt='').mx-auto
                      .modal-dream-info-counts           
           .fmini-tags.d-flex.my-1
            for tag in fmini.tags
             span.badge.bg-primary.mx-1.my-1 #{tag}
           .fmini-footer.d-flex.justify-content-between.mt-2
             .fmini-footer-comment 
               i.fa-regular.fa-comment
             .fmini-footer-react 
               i.fa-regular.fa-face-smile               
             button(type='button' tabindex='0' data-bs-toggle="modal"  data-bs-target='#altrmdl').btn.fmini-footer-alter 
               i.fa-solid.fa-pencil
             .fmini-footer-annex 
               i.fa-solid.fa-plus        
             .fmini-footer-share 
              i.fa-solid.fa-share-nodes  
             #altrmdl.modal.fade(data-bs-backdrop="static" tabindex='-1' aria-labelledby='fantamodalLabel1' aria-hidden='true')
                 .modal-dialog.modal-fullscreen-sm-down
                   .modal-content
                     .modal-header
                          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') 
                     .modal-body    
    -else if(fantoms) 
     for fantom in fantoms 
       li.list-group-item 
        .fantom-wrap
           .fantom-hdr.d-flex 
             .fantom-hdr-img
               img.avator(src='https://pbs.twimg.com/profile_images/1543523698862239744/FeJy-3sl_400x400.jpg' alt='')
             .fantom-hdr-info.vstack 
                .fantom-hdr-info-up.d-flex
                  a(href=`/user/${fantom.userId}`).fantom-hdr-usrname  #{fantom.userName} 
                  .fantom-hdr-timeStamp.ms-1 #{moment(fantom.timeStamp).startOf('hour').fromNow()} 
                  .fantom-hdr-options.flex-grow-1 
                    a(tabindex='0' data-bs-toggle="popover" data-bs-html='true' data-bs-trigger="focus"  data-bs-content='<div class="list-group list-group-flush"><a href="#" class="list-group-item list-group-item-action " aria-current="true"> The current link item</a><a href="#" class="list-group-item list-group-item-action">A second link item</a><a href="#" class="list-group-item list-group-item-action">A third link item</a><a href="#" class="list-group-item list-group-item-action">A fourth link item</a><a class="list-group-item list-group-item-action ">A disabled link item</a></div> ').options.float-end 
                     .material-symbols-outlined
                       | more_vert  
                .fantom-hdr-usrid @#{fantom.userId}
           img.fantom-media.my-1(style='width: 200px' src="https://w0.peakpx.com/wallpaper/970/985/HD-wallpaper-stormy-attack-waves-sky-dragon-storm-wall-stormy-sea-fire-fantasy-ship-mountains-digital-attack-night.jpg", alt="", srcset="" data-bs-toggle='modal' data-bs-target='#fantom-media-modal')                
           #fantom-media-modal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog.modal-fullscreen
                  .modal-content
                    .modal-header
                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body.text-center.vstack
                      img.modal-img(src='https://w0.peakpx.com/wallpaper/970/985/HD-wallpaper-stormy-attack-waves-sky-dragon-storm-wall-stormy-sea-fire-fantasy-ship-mountains-digital-attack-night.jpg' alt='').mx-auto
                      .modal-dream-info-counts   
           a(href=`/fantom/detail/${fantom._id}`)
             .fantom-title  #{fantom.title}
             .fantom-body.mt-2  #{fantom.desc}                              
           .fantom-tags.d-flex.my-1
            for tag in fantom.tags
             span.badge.bg-primary.mx-1.my-1 #{tag}
           .fantom-footer.d-flex.justify-content-between.mt-2
             .fantom-footer-comment 
               i.fa-regular.fa-comment
             .fantom-footer-react 
               i.fa-regular.fa-face-smile               
             button(type='button' tabindex='0' data-bs-toggle="modal"  data-bs-target='#altrmdl').btn.fantom-footer-alter 
               i.fa-solid.fa-pencil
             .fantom-footer-annex 
               i.fa-solid.fa-plus        
             .fantom-footer-share 
              i.fa-solid.fa-share-nodes  
             #altrmdl.modal.fade(data-bs-backdrop="static" tabindex='-1' aria-labelledby='fantamodalLabel1' aria-hidden='true')
                 .modal-dialog.modal-fullscreen-sm-down
                   .modal-content
                     .modal-header
                          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') 
                     .modal-body                   
   h6 bottom sheet
   div#bottom-sheet
     .bottom-sheet-header
        h3 This is the Bottom Sheet
     .bottom-sheet-content
        p Here is some content for the bottom sheet.
        button.btn.btn-primary Close
