extends layout
block link
    link(rel='stylesheet', href='/stylesheets/fantom.css')
block content
   .fantom-wrap.p-2
     .fm-common-header 
     .fm-wrap.my-2 
        .row
          .col-12.col-md-4.fm-cover-card
              img.fm-cover-img(src=`https://drive.google.com/uc?export=view&id=${fantom.cover}`)
          .col-12.col-md-8
              .card.fm-desc-card.my-2
                .card-body
                 .card-title.fm-title #{fantom.title}
                 .fm-user
                  -if(user.prflimg)
                   .d-flex
                    img.fm-prflimg(style='width : 48px ; height : 48px; border-radius : 8px' src=`https://drive.google.com/uc?export=view&id=${user.prflimg}`)
                    .fm-usrName #{user.name}
                  -else
                   .d-flex
                    div(style='width : 48px ; height : 48px; background : purple; border-radius : 8px')
                    .fm-usrName #{user.name}
                 .vstack 
                    a(href=`/user`).fm-usrId @#{user.id}               
                 .d-flex.justify-content-around    
                   .fantom_replies  
                     .icon_btn(type='button' tabindex='0' data-bs-toggle="modal"  data-bs-target=`#reply_modal_${fantom._id}`)
                       .material-symbols-rounded
                         | reply
                       span.totals.total_replies  #{fantom.replies.length}
                   .fantom_likes(onclick=`like('${fantom._id}', '${fantom._id}')`)
                     .icon_btn
                       .material-symbols-rounded(id=`like_btn_${fantom._id}`)  
                          | favorite
                       span.totals.total_likes(id=`likes_total_${fantom._id}`)  #{fantom.likes.length}    
                   .fantom_bookmark(onclick=`bookmark('${fantom._id}', '${fantom._id}')`) 
                     .icon_btn
                      .material-symbols-rounded(id=`bookmark_btn_${fantom._id}`)   
                        | bookmark 
                   -if(owner)     
                     a.add_chapter(href=`/chapter/${fantom._id}`) 
                       .material-symbols-rounded 
                         | note_add       
              .modal.fade(id=`reply_modal_${fantom._id}` data-bs-backdrop="static" tabindex='-1' aria-labelledby='fantamodalLabel1' aria-hidden='true')
                 .modal-dialog.modal-fullscreen-sm-down
                   .modal-content
                     .modal-header
                          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') 
                     .modal-body
                       .fanta-options.float-end 
                         label(for=`reply_fileinp_${fantom._id}`).mx-1 
                            span(class="material-symbols-rounded")
                              | add_photo_alternate
                            input(id=`reply_fileinp_${fantom._id}` name="fantaimage", type="file", onchange=`readURL(this,'reply_fileinp_${fantom._id}')`).d-none    
                         a.mx-1(href=''  data-bs-toggle='collapse' data-bs-target=`#reply_gif_${fantom._id}` aria-expanded='false')
                             span(class="material-symbols-rounded")
                                    |gif_box                                                                                                                                                                          
                             button.btn.ibtn(type='button' style='display:none' id=`reply_load_gif_${fantom._id}`) Load more                                                          
                       img.reply_img(src="", alt="", srcset="" id=`reply_media_preview_${fantom._id}`)
                       textarea.form-control(name="", cols="30" id=`reply_${fantom._id}`) 
                       .collapse(id=`reply_gif_${fantom._id}`)
                           .card.card-body
                             input.form-control(id=`reply_gif_search_${fantom._id}` type="search", name=`reply_gif_search_${fantom._id}`, placeholder='Search Tenor', onkeyup='suggest(this)')
                             div(id=`reply_tenor_suggestion_${fantom._id}`)
                               .no-scrollbar(style='max-width : 100%;overflow-x: scroll;padding:20px')
                                 div.reply_radios(style='width :2000px')
                                  .radios.radio_tile_group(name = `reply_radio_tile_${fantom._id}`) 
                             .no-scrollbar(id=`reply_gif_preview_container_${fantom._id}`)
                             .btn.ibtn(type='button' id = `reply_gif_load_${fantom._id}` fminiId = `${fantom._id}` onclick= `loadGif('reply','${fantom._id}')`) Load more gifs
                       button.btn.ibtn.mt-2(type = 'button' onclick=`postToTarget('${fantom._id}', 'reply','fantom')`) Reply
                       #reply_spinner.spinner-border.ms-2(role='status' style='display : none')
                         span.visually-hidden Loading...                                                      
        .row.my-2 
           .col-12.col-md-8 
              .card.m-1 
                .card-body 
                  .card-title Description 
                  .card-body #{fantom.desc}
           .col-12.col-md-4
            .card.user_card.m-1
             .card-body.text-center
                 img.user_pic(src=`https://drive.google.com/uc?export=view&id=${fantom_user.prflimg}`)
                 .user_info.my-1 
                   a(href="/profile").user_name #{fantom_user.name}
                   a(href="/profile").user_id #{fantom_user.userId}
                 .user_follows.d-flex.justify-content-between.my-1 
                    button(type="button").btn.btn-light.user_following #{fantom_user.following.length} followings
                    button(type="button").btn.btn-light.user_followers #{fantom_user.followers.length} followers      
        .row
          .col-12.col-md-8
            .card.tbl-contents.p-1 
             .card-body 
              h6 Contents
              -for(chapter of fantom.chapters)
                a.chapters(href=`/${fantom._id}/chapter/${chapter._id}`).mx-1.p-2 #{chapter.title}        
            .fm-tags.d-flex 
             for tag in fantom.tags
              a(href='').fm-tag #{tag}
            .fm-protas.d-flex.flex-wrap 
              for x in fantom.prota
               a(href='').fm-prota #{x}  
            .fm-antas.d-flex.flex-wrap 
              for x in fantom.anta
                a(href='').fm-anta #{x}                            
         
          
