extends layout
block link
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='/stylesheets/settings.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"  rel="stylesheet")
block content
 .overall 
   .home_feed.mt-4
     .grid
      each fmini, index in fminis
       - let itemClass = (index % 2 === 0) ? 'small' : 'large'
       .item
         .item-content
             .card.fmini_card 
               .card-body 
                 .fmini_user_info.hstack
                   img.fmini_user_profile_pic(src=`https://drive.google.com/uc?export=view&id=${fmini.prflimg}`, alt="", srcset="")
                   .fmini_user_name_id.vstack
                     a.fmini_user_username(href=`/user/${fmini.user_id}`) #{fmini.name} 
                     a.fmini_user_userid(href=`/user/${fmini.user_id}`) @ #{fmini.userId} 
                   .fmini_share(data-bs-toggle='modal' data-bs-target='#shareModal' role='dialog') 
                      .material-symbols-rounded 
                        | share
                 if fmini.media
                   if fmini.media.includes('tenor')
                     img.fmini_media(src=fmini.media , alt="", srcset="") 
                   else 
                     img.fmini_media(src=`https://drive.google.com/uc?export=view&id=${fmini.media}`, alt="", srcset="")                                    
                 a.fmini_body(class = itemClass href=`/fmini/${fmini._id}`) #{fmini.body}
                 .fmini_footer.mt-1.d-flex.justify-content-between
                   .fmini_replies  
                     .icon_btn(type='button' tabindex='0' data-bs-toggle="modal"  data-bs-target=`#reply_modal_${fmini._id}`)
                       .material-symbols-rounded
                         | reply
                       span.totals.total_replies  #{fmini.replies.length}
                   .fmini_alters
                     .icon_btn(type='button' tabindex='0' data-bs-toggle="modal"  data-bs-target=`#alter_modal_${fmini._id}`)
                       .material-symbols-rounded
                         | edit_note
                       span.totals.total_alters  #{fmini.alters.length}
                   .fmini_likes(onclick=`like('${fmini._id}', '${fmini._id}')`)
                     .icon_btn
                       .material-symbols-rounded(id=`like_btn_${fmini._id}`)  
                          | favorite
                       span.totals.total_likes(id=`likes_total_${fmini._id}`)  #{fmini.likes.length}    
                   .fmini_annexes
                     .icon_btn(type='button' tabindex='0' data-bs-toggle="modal"  data-bs-target=`#annex_modal_${fmini._id}`)
                       .material-symbols-rounded
                         | edit
                       span.totals.total_annexes  #{fmini.annexes.length}
                   .fmini_bookmark(onclick=`bookmark('${fmini._id}', '${fmini._id}')`) 
                     .icon_btn
                      .material-symbols-rounded(id=`bookmark_btn_${fmini._id}`)   
                        | bookmark
                    
   -for(fmini of fminis )                 
     .sheet.fmini_options_sheet(id=`sheet-${fmini._id}` aria-hidden='true' role='dialog')
                            .overlay
                            .contents
                               header.controls
                                   .draggable-area
                                     .draggable-thumb
                                   button.close-sheet(type='button' title='Close the sheet') &times;
                               main.sheet_body
                                span Unfollow #{fmini.name}
                                span Connect #{fmini.userId}
                                span Report fantom 
                                span Share fantom
     #shareModal.modal.fade.text-center(data-bs-backdrop="static" tabindex='-1' aria-labelledby='feedModal1' aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                     h5 Share this fantom
                     button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body     
                 .d-flex.flex-row.overflow-scroll.no-scrollbar
                   .hstack.scrollbox(style='width : 1000px')
                      a.resp-sharing-button__link(href=`https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Ffmini%2F${fmini._id}` target='_blank' rel='noopener' aria-label='')
                       .resp-sharing-button.resp-sharing-button--facebook.resp-sharing-button--small
                          .resp-sharing-button__icon.resp-sharing-button__icon--solid(aria-hidden='true')
                             i.fa-brands.fa-facebook
                      a.resp-sharing-button__link(href=`https://twitter.com/intent/tweet/?text=Take%20a%20look%20at%20my%20imagination%20at%20Dream%20Land&amp;url=http%3A%2F%2Flocalhost%3A3000%2Ffmini%2F3453q4` target='_blank' rel='noopener' aria-label='')
                       .resp-sharing-button.resp-sharing-button--twitter.resp-sharing-button--small
                          .resp-sharing-button__icon.resp-sharing-button__icon--solid(aria-hidden='true')
                             .fa-brands.fa-twitter
                      a.resp-sharing-button__link(href=`https://telegram.me/share/url?text=Take%20a%20look%20at%20my%20imagination%20at%20Dream%20Land&amp;url=http%3A%2F%2Flocalhost%3A3000%2Ffmini%2F${fmini._id}` target='_blank' rel='noopener' aria-label='')
                       .resp-sharing-button.resp-sharing-button--telegram.resp-sharing-button--small
                          .resp-sharing-button__icon.resp-sharing-button__icon--solid(aria-hidden='true')
                             i.fa-brands.fa-telegram                                
     .modal.fade(id=`reply_modal_${fmini._id}` data-bs-backdrop="static" tabindex='-1' aria-labelledby='fantamodalLabel1' aria-hidden='true')
                 .modal-dialog.modal-fullscreen-sm-down
                   .modal-content
                     .modal-header
                          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') 
                     .modal-body
                       .fanta-options.float-end 
                         label(for=`reply_fileinp_${fmini._id}`).mx-1 
                            span(class="material-symbols-rounded")
                              | add_photo_alternate
                            input(id=`reply_fileinp_${fmini._id}` name="fantaimage", type="file", onchange=`readURL(this,'reply_fileinp_${fmini._id}')`).d-none    
                         a.mx-1(href=''  data-bs-toggle='collapse' data-bs-target=`#reply_gif_${fmini._id}` aria-expanded='false')
                             span(class="material-symbols-rounded")
                                    |gif_box                                                                                                                                                                          
                             button.btn.ibtn(type='button' style='display:none' id=`reply_load_gif_${fmini._id}`) Load more                                                          
                       img.reply_img(src="", alt="", srcset="" id=`reply_media_preview_${fmini._id}`)
                       textarea.form-control(name="", cols="30" id=`reply_${fmini._id}`) 
                       .collapse(id=`reply_gif_${fmini._id}`)
                           .card.card-body
                             input.form-control(id=`reply_gif_search_${fmini._id}` type="search", name=`reply_gif_search_${fmini._id}`, placeholder='Search Tenor', onkeyup='suggest(this)')
                             div(id=`reply_tenor_suggestion_${fmini._id}`)
                               .no-scrollbar(style='max-width : 100%;overflow-x: scroll;padding:20px')
                                 div.reply_radios(style='width :2000px')
                                  .radios.radio_tile_group(name = `reply_radio_tile_${fmini._id}`) 
                             .no-scrollbar(id=`reply_gif_preview_container_${fmini._id}`)
                             .btn.ibtn(type='button' id = `reply_gif_load_${fmini._id}` fminiId = `${fmini._id}` onclick= `loadGif('reply','${fmini._id}')`) Load more gifs
                       button.btn.ibtn.mt-2(type = 'button' onclick=`postToTarget('${fmini._id}', 'reply','fmini')`) Reply
                       #reply_spinner.spinner-border.ms-2(role='status' style='display : none')
                         span.visually-hidden Loading...                        
     .modal.fade(id=`alter_modal_${fmini._id}` data-bs-backdrop="static" tabindex='-1' aria-labelledby='fantamodalLabel1' aria-hidden='true')
                 .modal-dialog.modal-fullscreen-sm-down
                   .modal-content 
                     .modal-header
                          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') 
                     .modal-body
                       .fanta-options.float-end 
                         label(for=`alter_fileinp_${fmini._id}`).mx-1 
                            span(class="material-symbols-rounded")
                              | add_photo_alternate
                            input(id=`alter_fileinp_${fmini._id}` name="fantaimage", type="file", onchange=`readURL(this,'alter_fileinp_${fmini._id}')`).d-none    
                         a.mx-1(href=''  data-bs-toggle='collapse' data-bs-target=`#alter_gif_${fmini._id}` aria-expanded='false')
                             span(class="material-symbols-rounded")
                                    |gif_box                                                                                                                                                                          
                             button.btn.ibtn(type='button' style='display:none' id=`alter_load_gif_${fmini._id}`) Load more                                                          
                       img.alter_img(src="", alt="", srcset="" id=`alter_media_preview_${fmini._id}`)
                       textarea.form-control(name="", cols="30" id=`alter_${fmini._id}`) #{fmini.body}
                       .collapse(id=`alter_gif_${fmini._id}`)
                           .card.card-body
                             input.form-control(id=`alter_gif_search_${fmini._id}` type="search", name=`alter_gif_search_${fmini._id}`, placeholder='Search Tenor', onkeyup='suggest(this)')
                             div(id=`alter_tenor_suggestion_${fmini._id}`)
                               .no-scrollbar(style='max-width : 100%;overflow-x: scroll;padding:20px')
                                 div.alter_radios(style='width:2000px')
                                  .radios.radio_tile_group(name = `alter_radio_tile_${fmini._id}`) 
                             .no-scrollbar(id=`alter_gif_preview_container_${fmini._id}`)
                             .btn.ibtn(type='button' id = `alter_gif_load_${fmini._id}` fminiId = `${fmini._id}` onclick= `loadGif('alter','${fmini._id}')`) Load more gifs
                       button.btn.ibtn(type = 'button' onclick=`postToTarget('${fmini._id}', 'alter','fmini')`) Alter         
                       #alter_spinner.spinner-border.ms-2(role='status' style='display : none')
                         span.visually-hidden Loading...     
     .modal.fade(id=`annex_modal_${fmini._id}` data-bs-backdrop="static" tabindex='-1' aria-labelledby='fantamodalLabel1' aria-hidden='true')
                 .modal-dialog.modal-fullscreen-sm-down 
                   .modal-content
                     .modal-header
                          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') 
                     .modal-body
                       .fanta-options.float-end 
                         label(for=`annex_fileinp_${fmini._id}`).mx-1 
                            span(class="material-symbols-rounded")
                              | add_photo_alternate
                            input(id=`annex_fileinp_${fmini._id}` name="fantaimage", type="file", onchange=`readURL(this,'annex_fileinp_${fmini._id}')`).d-none    
                         a.mx-1(href=''  data-bs-toggle='collapse' data-bs-target=`#annex_gif_${fmini._id}` aria-expanded='false')
                             span(class="material-symbols-rounded")
                                    |gif_box                                                                                                                                                                          
                             button.btn.ibtn(type='button' style='display:none' id=`annex_load_gif_${fmini._id}`) Load more                                                          
                       img.annex_img(src="", alt="", srcset="" id=`annex_media_preview_${fmini._id}`)
                       textarea.form-control(name="", cols="30" id=`annex_${fmini._id}`) 
                       .collapse(id=`annex_gif_${fmini._id}`)
                           .card.card-body
                             input.form-control(id=`annex_gif_search_${fmini._id}` type="search", name=`annex_search_${fmini._id}`, placeholder='Search Tenor', onkeyup='suggest(this)')
                             div(id=`annex_tenor_suggestion${fmini._id}`)
                               .no-scrollbar(style='max-width : 100%;overflow-x: scroll;padding:20px')
                                 div.annex_radios(style='width:2000px')
                                  .radios.radio_tile_group(name = `annex_radio_tile_${fmini._id}`) 
                             .no-scrollbar(id=`annex_gif_preview_container_${fmini._id}`)
                             .btn.ibtn(type='button' id = `annex_gif_load_${fmini._id}` fminiId = `${fmini._id}` onclick= `loadGif('annex','${fmini._id}')`) Load more gifs
                       button.btn.ibtn(type = 'button' onclick=`postToTarget('${fmini._id}', 'annex','fmini')`) Annex    
                       #annex_spinner.spinner-border.ms-2(role='status' style='display : none')
                         span.visually-hidden Loading...                                                                                           
block script 
   script(src="/javascripts/home.js")   
   script(src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js") 
   script(src="/javascripts/fmini.js" defer)  
   script.
     document.addEventListener('DOMContentLoaded', disablePopover);  
     document.addEventListener('DOMContentLoaded', emoji);  
     

      
