doctype html
html
  head
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        title= title  
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous")  
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' )
        script(src="https://unpkg.com/feather-icons")
        script(src="/javascripts/usrDefined.js")   
        script(src="https://kit.fontawesome.com/04a1228d4b.js" crossorigin="anonymous")
        script(src="/javascripts/settings.js")   
        link(rel='stylesheet', href='/stylesheets/settings.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .settings_container 
       .d-flex.flex-row.p-3
         a(href="")
           img(src="", alt="usr_brand")    
         a(href="").ms-auto
           img(src=`https://drive.google.com/uc?export=view&id=${user.prflimg}`, alt="usr_img" style="width: 40px; border-radius: 8px")                    
       ul#pills-tab.nav.nav-pills.nav-fill.mb-3.mt-2.m-2.sidebar.overflow-scroll.no-scrollbar(role='tablist')
        .hstack.scrollbox
          li.nav-item.mx-1(role='presentation')
            button#pills-account-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-account' type='button' role='tab' aria-controls='pills-Stories' aria-selected='true' onclick='fetchFms()') Account
          li.nav-item.mx-1(role='presentation')
            button#pills-content-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-content' type='button' role='tab' aria-controls='pills-article' aria-selected='false' onclick='fetchFminis()') Content
          li.nav-item.mx-1(role='presentation')
            button#pills-privacy-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-privacy' type='button' role='tab' aria-controls='pills-Stories' aria-selected='true' onclick='fetchFms()') Privacy
          li.nav-item.mx-1(role='presentation')
            button#pills-additional-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-additional' type='button' role='tab' aria-controls='pills-article' aria-selected='false' onclick='fetchFminis()') Additional            
       .tab-content#settings-tab 
        #pills-account.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-account-tab' tabindex='0') 
         .account_info.p-2 
            h6 Account Information 
            .lead.m-1 Go to 
              a(href="/profile") profile 
              | to change your account information
            .d-flex.flex-row.overflow-scroll.no-scrollbar
              .hstack.scrollbox
               .card.mx-2.account_info_card 
                 .card-body.p-2 
                  lead.my-2  Name
                  input#name(type="text", name="", value= user.name disabled).form-control            
               .card.mx-2.account_info_card  
                 .card-body.p-2 
                  lead.my-2 User Name
                  input#usr_name(type="text", name="", value= user.usr_id disabled).form-control
               .card.mx-2.account_info_card  
                 .card-body.p-2 
                  lead.my-2 User Mail
                  input#usr_email(type="email", name="", value=user.email disabled).form-control        
         hr    
         .share_profile.p-2   
          h6 Share Profile 
          .lead Share your profile to let the users in other social medias to know about you imaginations.
          .d-flex.flex-row.overflow-scroll.no-scrollbar
           .hstack.scrollbox
              a.resp-sharing-button__link(href='https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkarthi.io' target='_blank' rel='noopener' aria-label='')
               .resp-sharing-button.resp-sharing-button--facebook.resp-sharing-button--small
                 .resp-sharing-button__icon.resp-sharing-button__icon--solid(aria-hidden='true')
                   i.fa-brands.fa-facebook
              a.resp-sharing-button__link(href="https://twitter.com/intent/tweet/?text=Have%20you%20ever%20dived%20into%20karthi's%20imaginations.%20Have%20a%20look%20at%20&url=http%3A%2F%2Fkarthi.io" target='_blank' rel='noopener' aria-label='')
               .resp-sharing-button.resp-sharing-button--twitter.resp-sharing-button--small
                 .resp-sharing-button__icon.resp-sharing-button__icon--solid(aria-hidden='true')
                   .fa-brands.fa-twitter
              a.resp-sharing-button__link(href="mailto:?subject=Have%20you%20ever%20dived%20into%20karthi's%20imaginations.%20Have%20a%20look%20at%20&body=http%3A%2F%2Fkarthi.io" target='_self' rel='noopener' aria-label='')
               .resp-sharing-button.resp-sharing-button--email.resp-sharing-button--small
                 .resp-sharing-button__icon.resp-sharing-button__icon--solid(aria-hidden='true')
                   i.fa-regular.fa-envelope
              a.resp-sharing-button__link(href="https://pinterest.com/pin/create/button/?url=http%3A%2F%2Fkarthi.io&media=http%3A%2F%2Fkarthi.io&description=Have%20you%20ever%20dived%20into%20karthi's%20imaginations.%20Have%20a%20look%20at%20" target='_blank' rel='noopener' aria-label='')
               .resp-sharing-button.resp-sharing-button--pinterest.resp-sharing-button--small
                 .resp-sharing-button__icon.resp-sharing-button__icon--solid(aria-hidden='true')
                   i.fa-brands.fa-pinterest
              a.resp-sharing-button__link(href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fkarthi.io&title=Have%20you%20ever%20dived%20into%20karthi's%20imaginations.%20Have%20a%20look%20at%20&summary=Have%20you%20ever%20dived%20into%20karthi's%20imaginations.%20Have%20a%20look%20at%20&source=http%3A%2F%2Fkarthi.io" target='_blank' rel='noopener' aria-label='')
               .resp-sharing-button.resp-sharing-button--linkedin.resp-sharing-button--small
                 .resp-sharing-button__icon.resp-sharing-button__icon--solid(aria-hidden='true')
                   i.fa-brands.fa-linkedin
              a.resp-sharing-button__link(href="https://reddit.com/submit/?url=http%3A%2F%2Fkarthi.io&resubmit=true&title=Have%20you%20ever%20dived%20into%20karthi's%20imaginations.%20Have%20a%20look%20at%20" target='_blank' rel='noopener' aria-label='')
               .resp-sharing-button.resp-sharing-button--reddit.resp-sharing-button--small
                 .resp-sharing-button__icon.resp-sharing-button__icon--solid(aria-hidden='true')
                   i.fa-brands.fa-reddit
              a.resp-sharing-button__link(href="whatsapp://send?text=Have%20you%20ever%20dived%20into%20karthi's%20imaginations.%20Have%20a%20look%20at%20%20http%3A%2F%2Fkarthi.io" target='_blank' rel='noopener' aria-label='')
               .resp-sharing-button.resp-sharing-button--whatsapp.resp-sharing-button--small
                 .resp-sharing-button__icon.resp-sharing-button__icon--solid(aria-hidden='true')
                   i.fa-brands.fa-whatsapp
              a.resp-sharing-button__link(href="https://telegram.me/share/url?text=Have%20you%20ever%20dived%20into%20karthi's%20imaginations.%20Have%20a%20look%20at%20&url=http%3A%2F%2Fkarthi.io" target='_blank' rel='noopener' aria-label='')
               .resp-sharing-button.resp-sharing-button--telegram.resp-sharing-button--small
                 .resp-sharing-button__icon.resp-sharing-button__icon--solid(aria-hidden='true')
                   i.fa-brands.fa-telegram
         .delete_account.p-2 
           h6 Delete Account     
           .d-flext 
             button.btn.btn-outline-danger(data-bs-toggle="modal" data-bs-target="#deleteModal" type='button') Delete Account
        #deleteModal.modal.fade(tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content 
              .modal-header 
                button.btn-close(data-bs-dismiss="modal" aria-label="Close")
              .modal-body
               .lead This action is irreversible. Are you sure you want to delete your account 
               br
               button.btn.btn-outline-danger Delete
        #pills-content.tab-pane.fade.show(role='tabpanel' aria-labelledby='pills-content-tab' tabindex='0') 
         .content_settings
          .safe_search.p-2
            h6 Safe content
            .form-check.form-switch
             -if(user.settings.hide_sensitivity == true)
               label.form-check-label(for='hide_sensitivity') Hide fantoms marked as 18+
               input#hide_sensitivity.form-check-input(type='checkbox' role='switch' checked)
               br
               .lead Safe search enabled. You won't see fantoms marked as sensitive by the users.    
             -else
               label.form-check-label(for='hide_sensitivity') Hide fantoms marked as 18+
               input#hide_sensitivity.form-check-input(type='checkbox' role='switch' )
               br
               .lead Enable safe content to hide the fantoms catagorised as sensitive content by users.
          hr
          .block_user.p-2 
            h6 Block Users 
            .lead.m-2 Fantoms from the user you have blocked will no longer be showed in your home feed. If you found any bullying or any such activity by a user ,please 
              a(href="/") report user. 
            input#block_user_search.form-control.mx-2(type="search", name="block_user_search", placeholder='Search by user name' oninput=`generateBlockUser()`)
            h6 Blocked Users
            .d-flex.flex-row.overflow-scroll.no-scrollbar.mt-2
              #blocked_users.hstack.scrollbox     
               -for(let usera of user.blocked_users)      
                  .card.text-center.p-2(id='' style='width: 450px;').mx-2.mt-1
                     .card-body.text-center
                       .d-flex
                          img.usr_img(src=`https://drive.google.com/uc?export=view&id=${usera.prflimg}` alt='')
                          .ms-4.text-start
                            .usr_name #{usera.name}
                            .usr_id #{usera.userId}
                       .d-flex.mt-2
                         a.btn.btn-light(type='button' href=`profile/${usera.user_id}`)  view profile
                         .form-check.form-switch.ms-2
                            input.form-check-input.block_user_check(type='checkbox' role='switch' id='' checked)
                            label.form-check-label(for='') Blocked         
        #pills-privacy.tab-pane.fade.show(role='tabpanel' aria-labelledby='pills-privacy-tab' tabindex='0') 
          .privacy_settings 
            .direct_message.p-3
              h6 Direct Messages 
              .lead.m-2 Choose who can message you. 
              .d-flex.flex-row.overflow-scroll.no-scrollbar
                 .radio_container.hstack.scrollbox                
                               .radio.radio_tile_group(name = `radio_tile`) 
                                -if(user.settings.direct_message == 'anyone')
                                 .input_container_light
                                   input.radio_button_light.custom-cursor-on-hover#anyone(type='radio' name='direct_message' value='anyone' checked='')
                                   .radio_tile_light   
                                     .radio_tile_label.label     
                                       |  Anyone 
                                 .input_container_light
                                   input.radio_button_light.custom-cursor-on-hover#friends(type='radio' name='direct_message' value='friends')
                                   .radio_tile_light   
                                     .radio_tile_label.label     
                                       |  Friends 
                                 .input_container_light
                                   input.radio_button_light.custom-cursor-on-hover#followers(type='radio' name='direct_message' value='followers')
                                   .radio_tile_light   
                                     .radio_tile_label.label     
                                       |  Your Followers 
                                       .lead Friends included
                                -else if(user.settings.direct_message == 'friends')
                                 .input_container_light
                                   input.radio_button_light.custom-cursor-on-hover#anyone(type='radio' name='direct_message' value='anyone')
                                   .radio_tile_light   
                                     .radio_tile_label.label     
                                       |  Anyone 
                                 .input_container_light
                                   input.radio_button_light.custom-cursor-on-hover#friends(type='radio' name='direct_message' value='friends' checked='')
                                   .radio_tile_light   
                                     .radio_tile_label.label     
                                       |  Friends 
                                 .input_container_light
                                   input.radio_button_light.custom-cursor-on-hover#followers(type='radio' name='direct_message' value='followers')
                                   .radio_tile_light   
                                     .radio_tile_label.label     
                                       |  Your Followers 
                                       .lead Friends included            
                                -else 
                                 .input_container_light
                                   input.radio_button_light.custom-cursor-on-hover#anyone(type='radio' name='direct_message' value='anyone')
                                   .radio_tile_light   
                                     .radio_tile_label.label     
                                       |  Anyone 
                                 .input_container_light
                                   input.radio_button_light.custom-cursor-on-hover#friends(type='radio' name='direct_message' value='friends' )
                                   .radio_tile_light   
                                     .radio_tile_label.label     
                                       |  Friends 
                                 .input_container_light
                                   input.radio_button_light.custom-cursor-on-hover#followers(type='radio' name='direct_message' value='followers' checked='')
                                   .radio_tile_light   
                                     .radio_tile_label.label     
                                       |  Your Followers 
                                       .lead Friends included             
            hr
            .profile_visibility.p-3 
              h6 Profile Visibility
              .lead.m-2 Choose who can  see your profile.   
              .lead.m-2 By default your profile is visible to everyone on the platform. Enable this option to make your profile visible to only the users who have personalized link to your profile.    
              .form-check.form-switch
               -if(user.settings.profile_visibility == true)
                 label.form-check-label(for='profile_visibility') Only with link
                 input#profile_visibility.form-check-input(type='checkbox' role='switch' checked)
                 .lead.m-2 Users with your personalized profile link only can view your profile  
                 br
               -else 
                 label.form-check-label(for='profile_visibility') Only with link
                 input#profile_visibility.form-check-input(type='checkbox' role='switch')
                 br
                 .lead.m-2 Anyone on the plaform can see you profile.
              .profile_link.d-flex.flex-row
                input#profile_link.form-control(type="text", name="", value=`Dreamland.io/profile/${user._id}` ,disabled) 
                button.btn.btn-light(type='button') Copy 
            hr
            .report_user.p-3
              h6 Report Users
              .lead.m-2 Report users whome you think are not following 
                a(href="/terms_of_use") terms of use 
                | or users who involve in any such activities.
              .lead.m-2 We take your privacy seriously. We will take action as soon as possible.                                                                                                                                
              input#report_users_search.form-control(type="search", name="report_users", placeholder='Search by user name' oninput='generateReportUser()')   
              .d-flex.flex-row.overflow-scroll.no-scrollbar.mt-3
                 #reported_users.hstack.scrollbox 
            .modal.fade( id='report_user_modal' data-bs-backdrop="static"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")       
              .modal-dialog.modal-dialog-scrollable 
                 .modal-content  
                     .modal-header
                        h5.modal-title Report User 
                        button.btn-close( data-bs-dismiss="modal" aria-label="Close")             
                     .modal-body   
                          h6 Tell us what have you encountered.
                          input.form-control#report_user_name(type='text' value='' aria-label='Disabled input example' disabled='' readonly='')
                          .form-check
                             input#report_user_radio1.mx-1.form-check-input(type='radio' name='report_user_radio' value='harassment' checked)
                             label.form-check-label(for='report_user_radio1') Harassment
                          .form-check
                             input#report_user_radio2.mx-1.form-check-input(type='radio' name='report_user_radio' value='spam')
                             label.form-check-label(for='report_user_radio2') Spam
                          .form-check
                             input#report_user_radio3.mx-1.form-check-input(type='radio' name='report_user_radio' value='inappropriate')
                             label.form-check-label(for='report_user_radio3') Inappropriate content
                          .form-check
                             input#report_user_radio4.mx-1.form-check-input(type='radio' name='report_user_radio' value='hate_speech')
                             label.form-check-label(for='report_user_radio4') Hate speech
                          .form-check
                             input#report_user_radio5.mx-1.form-check-input(type='radio' name='report_user_radio' value='privacy_violation')
                             label.form-check-label(for='report_user_radio5') Privacy violation
                          .form-check
                             input#report_user_radio6.mx-1.form-check-input(type='radio' name='report_user_radio' value='fake_news')
                             label.form-check-label(for='report_user_radio6') Fake news
                          #report_user_text.mb-2    
                              label.form-label(for='report_user_textarea') Discribe the issue in detail
                              textarea#report_user_textarea.form-control(rows='3' placeholder="How does this user violate the platform's guidelines?")
                          button.btn.btn-danger Report
        #pills-additional.tab-pane.fade.show(role='tabpanel' aria-labelledby='pills-additional-tab' tabindex='0') 
          .additional 
           h6 
           .list.vstack 
             a(href="/").list-item.m-3 About us 
             a(href="/").list-item.m-3 Guide
             a(href="/").list-item.m-3 Terms of User
             a(href="/").list-item.m-3 Privacy Policy 
        .toast-container.position-fixed.bottom-0.end-0.p-3
           #reported_toast.toast(role='alert' aria-live='assertive' aria-atomic='true')
              .toast-header
                 h6.toast-title Message
                 button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
              .toast-body
                | User reported. 
        .toast-container.position-fixed.bottom-0.end-0.p-3
           #saved_toast.toast(role='alert' aria-live='assertive' aria-atomic='true')
              .toast-header
                 h6.toast-title Message
                 button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
              .toast-body
                | Settings saved.
    button#save_button.btn.ibtn(type='button' onclick='saveSettings()') Save
